<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="footer-box info-contact">
                    <h3>Thông tin liên hệ</h3>
                    <div class="content-contact">
                        <p>Nhóm 07</p>
                        <p>
                            <strong>Địa chỉ:</strong> Hai Bà Trưng
                        </p>
                        <p>
                            <strong>Email: </strong> nhom07.com@gmail.com
                        </p>
                        <p>
                            <strong>Điện thoại: </strong> 123456789
                        </p>
                        <p>
                            <strong>Website: </strong> https://nhom07.net
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="footer-box info-contact">
                    <h3>Thông tin khác</h3>
                    <div class="content-list">
                        <ul>
                            <li><a href="#"><i ></i> Chính sách bảo mật</a></li>
                            <li><a href="#"><i ></i> Chính sách đổi trả</a></li>
                            <li><a href="#"><i ></i> Phí vẫn chuyển</a></li>
                            <li><a href="#"><i ></i> Hướng dẫn thanh toán</a></li>
                            <li><a href="#"><i ></i> Chương trình khuyến mãi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="footer-box info-contact">
                    <h3>Form liên hệ</h3>
                    <div class="content-contact">
                        <form action="/" method="GET" role="form">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="text" name="" id="" class="form-control" placeholder="Họ và Tên">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                    <input type="email" name="" id="" class="form-control" placeholder="Địa chỉ mail">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                    <input type="text" name="" id="" class="form-control" placeholder="Số điện thoại">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="text" name="" id="" class="form-control" placeholder="Tiêu đề">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <textarea name="" id=""></textarea>
                                </div>
                            </div>
                            <button type="submit">Liên hệ ngay</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright © 2020 Design by nhom07</p>
    </div>
</footer>