<div class="header container-fluid bg-color">
    <div class="row">
        <div class="col-sm-1 logo">
            <img src="./Images/Logo-Nhom7.png" alt="logo" width="90%">
        </div>
        <div class="col-sm-3 header-center">
            Chào mừng bạn đến với web<br>
            Hotline:1234567891
            
        </div>
        <div class="col-sm-5 header-center">
            <form>
                <input type="text" name="" placeholder="Loại mặt hàng">
                <button class="btn">Tìm kiếm</button>
            </form>
        </div>
        <div class="col-sm-3 header-center" >
            <button type="button" class="btn" id="btn_login" onclick="document.getElementById('login').style.display='block'" >Đăng nhập</button>
            <button type="button" class="btn" id="btn_signup" onclick="document.getElementById('signup').style.display='block'">Đăng kí</button>
        </div>
        
    </div>
</div>

<div class="container bg-color text-white" style="margin-top: 10px;">
    <div class="row-sm-12">
        <div class="col-sm-8">
            <div class="btn-group">
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle " style="font-size: 12px;margin-top: 4px;" data-toggle="dropdown">Danh mục sản phẩm</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="?action=home">Tất cả </a>
                        <a class="dropdown-item" href="?action=seach&type=1">Điện thoại </a>
                        <a class="dropdown-item" href="?action=seach&type=2">Máy tính</a>
                        <a class="dropdown-item" href="?action=seach&type=3">Tivi</a>
                        <a class="dropdown-item" href="?action=seach&type=4">Tủ lạnh</a>
                        <a class="dropdown-item" href="?action=seach&type=5">Nhà bếp</a>
                        <a class="dropdown-item" href="?action=seach&type=6">Xe</a>
                        <a class="dropdown-item" href="?action=seach&type=7">Đồng hồ</a>
                        <a class="dropdown-item" href="?action=seach&type=8">Quần áo</a>
                        <a class="dropdown-item" href="?action=seach&type=9">Khác</a>
                    </div>
                </div>
                  <button type="button" class="btn"><a href="?action=home" style="color: white;">Trang chủ</a></button>
                  <button type="button" class="btn">Giới thiệu</button>
            </div>
        </div>
    </div>
</div>